page-clipsPage {

	ion-card-content{
	    padding: 0!important;
	}
	.actionButtons{
	    font-size: 13px;
	    height: 20px;
	}
	.controls{
	    height: 250px;
	    margin-top: -247px;
	    padding-top: 82px;
	    z-index: 100000;
	    font-size: 50px;
	    text-align: center;
	    position: relative;
	}
	.clear{
		clear:both;
	}
	.scrollbar{
		position: relative;
	    float: left;
	    padding-left: 12px;
	    font-size: 17px;
		margin-top: 121px;
	    color: #fff;
	    width: 100%;
	}
	.clipTitle{
	    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.61) 0%, transparent 100%);
	    height: 41px;
	    position: relative;
	    bottom: -50px;
	    color: #fff;
	    padding: 6px;
	    margin-top: -50px;
	}
	.scroll{
		width: 90%;
	    height: 5px;
	    float: right;
	    margin-top: 11px;
	    margin-right: 8px;
	    border-top: 4px solid #fdfdfd;
	}
	.scrollFill{
		background-color: #F06060;
	    height: 4px;
	    margin-top: -4px;
    	transition: width 0.5s, height 4s;
	}
	.icon-bigD{
	    font-size: 370px;
	    position: fixed;
	    top: 101px;
	    color: #444444;
	    margin: auto auto;
	    left: calc(50% - 132px);
	}
	.icon-play{
	    color: rgba(255, 255, 255, 0.7);
	    font-size: 28px;
	    margin-left: -7px;
	    top: -21px;
	    position: relative;
	}
	.sepia{
		    filter: sepia(20%);
	}
	.animCar span{
		color: #5dd2e0;
	    position: relative;
	    left: 51px;
	    z-index: 1000;
	}
	.animCar{
		width: 40px;
	    height: 236px;
	    position: fixed;
	    top: 222px;
	    left: calc(50% - 17px);
	    margin-bottom: -236px;
	    z-index: 1000000;

	    background-image: url(../assets/images/loader.png);
		-webkit-animation:spin 2s cubic-bezier(0.4, 0, 0.4, 0.91) infinite;
	    -moz-animation:spin 2s cubic-bezier(0.4, 0, 0.4, 0.91) infinite;
	    animation:spin 2s cubic-bezier(0.4, 0, 0.4, 0.91) infinite;
	}
	.card{
		display:block;
	}
	.videoPlayer{
		width: 100%;
		height: 100%;
	}
	.player{
		display: initial !important;
		font-family: 'icomoon' !important;
		.vg-icon-play_arrow:before {
	  		content: "\e91b";
		}
		.vg-icon-pause:before {
	  		content: "\e919";
		}
		vg-overlay-play .vg-icon-play_arrow:before {
			font-size: 50px;
		}
		vg-controls{
			background-color: initial;
			vg-scrub-bar-current-time .background {
	    		border: 1px solid #F06060;
	    		background-color: #F06060;
			}
		}
		vg-scrub-bar-buffering-time .background {
		    background-color: rgba(255, 0, 0, 0.14);
		}
		.vg-buffering .loadingSpinner {
			box-shadow: none;
		}
	}

	@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }




}
