<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle class="toggleMenu">
            <ion-icon name="md-more" class="pull-left"></ion-icon>
        </button>
        <ion-title>dride</ion-title>
        <button *ngIf="false" ion-button [navPush]="livePage" class="pull-right liveFeed">
            <ion-icon name="videocam"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content class="home">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf="!videos" class="text-center">
        <div class="animCar">
        </div>
        <span class="icon-bigD"></span>
    </div>
    <ion-card *ngFor="let video of videos; let i = index; " class="mainCard">
        <div class="videoObject">
            <div class="videoHead">
                <p class="dateLabel" float-left>{{video | date:'medium'}}</p>
                <ion-icon (click)="presentActionSheet(video)" ios="md-more" md="md-more" float-right></ion-icon>
            </div>
            <vg-player (onPlayerReady)="onPlayerReady($event, video.key)" class="player">
                <!--<vg-overlay-play></vg-overlay-play> -->
                <vg-buffering></vg-buffering>

                <video [vgMedia]="media" #media [id]="'v' + i" preload="none" webkit-playsinline playsinline poster="{{host}}/modules/video/thumb/{{video}}.jpg"
                    class="videoPlayer">
                    <source src="{{host}}/modules/video/clip/{{video}}.mp4" type="video/mp4">
                </video>
                <vg-controls>
                    <vg-play-pause></vg-play-pause>

                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>

                    <vg-time-display *ngIf="playing[video.key]" vgProperty="left" vgFormat="mm:ss"></vg-time-display>

                </vg-controls>
            </vg-player>


        </div>
        <ion-card-content class="row">
            <div class="col" >
            <button ion-button clear icon-left text-center class="actionButtons button-block" (click)="shareVideo(video)">
                Upload To Cloud
            </button>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>