connect-dride {
	.popUpHeader{
		background-color: #333;
		height: 52px;
		text-align: center;
	}	
	.roundBottom{
	    height: 154px;
	    background-color: #333;
	    margin-top: -113px;
	    border-radius: 250%;
	    width: 171%;
	    margin-left: -34%;
	}
	.closePopup{
	    background-color: #333;
	    color: #808080;
	    font-size: 25px;
	    position: relative;
	    right: 5px;
	    top: -7px;
	    float: right;
	}
	.product{
		width: 63%;
    	margin-top: 24px;
	}
	.popUpHeader {
	    height: 312px;
	}
	.roundBottom {
		margin-top: -195px;
	}
	.popUpHeader h2{
		margin-top: -59px;
    	margin-bottom: 61px;
	}
	.steps{
		list-style: none;
    	padding: 35px;
	    background-color: #fff;
	    border-top: 1px solid #c8c7cc;
	    border-bottom: 1px solid #c8c7cc;
	    margin-top: 41px;
	}
	ion-content{
		margin-top: 75%;
	}
	.steps li{
		margin-bottom: 25px;
		font-size: 15px;
	}
	.steps li label{
    	margin-right: 9px;
	    font-size: 15px;
	}
	.steps li span{
		margin-left: 21px;
	    display: block;
	    margin-top: -22px;
	}
	.steps li:last-child{
		margin-bottom: 0;
	}
	.buyDride{
		background-color: #fff;
		width: 100%;
		height: 55px;
		text-align: center;
		font-size: 18px;
		padding-top: 15px;
		border-top: 1px solid #c8c7cc;
		border-bottom: 1px solid #c8c7cc;
	}

	.icon-toyCar-1{
		position: relative;
    	top: 46px;
    	left: 13px;
	    color: #72CAD2;
	    //animation: backAndForthCar 10s infinite;

	}
	.animatedCar{
		display: inline-block;
    	animation: backAndForthCar 10s infinite,
    			   flipAfterSecs 1s linear 5s infinite,
    			   flipBackAfterSecs 1s linear 10s infinite;
	}


	.scroll-content {
	    margin-top: 44px !important;
	}
	.connecting{

		font-size: 15px;
		label{
			color: #fff;
    		font-size: 32px;
		}
	}

}

@keyframes backAndForthCar {
	    0% {
	        left: 13px;
	    }
	    50% {
	        left: 90%;
	    }
	    100% {
	        left: 13px;
	    }
	}
@keyframes flipAfterSecs {
		0%, 100%{
			transform: scaleX(-1); 
		}
}
@keyframes flipBackAfterSecs {
		0%, 100%{
			transform: scaleX(1); 
		}
}
