<ion-header class="popUpHeader blackBg">
	
	<img class="product" src="assets/images/drideDevice@2x.png" />

	<h2>CONNECTING YOUR<br>dride</h2>

	<div class="roundBottom black"></div>


</ion-header>

 
<ion-content >

	<span [ngClass]="{'animatedCar': isLoaded}" class="icon-toyCar-1"></span>
	<ul class="steps">
	    <li>
	    	<label>1</label> 
	    	<span>Go to <b>Settings > Wi-Fi</b> on your iPhone</span>
	    </li>
	    <li>
	    	<label>2</label>
	    	<span>Select <b>dride</b> and enter your password if prompted</span>
	    </li>
	    <li>
	    	<label>3</label>
	    	<span> Once connected, return to the <b>dride App</b></span>
	    </li>
	</ul>

	<!-- static buy dride box -->
	<div class="buyDride">
		<b>Don't have a dride yet ?</b>
	</div>

</ion-content>






