<ion-header no-border>
    <ion-navbar>
        <ion-title>Settings</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="padContent">
    <br>

    <ion-list>

            <ion-item *ngFor="let item of settingsNodes" class="settingsNodes">
                <ion-icon [name]="item.icon" item-left></ion-icon>
                <ion-label [innerHTML]="item.title"></ion-label>
                <ion-toggle [(ngModel)]="configObj[item.category][item.id]" (ionChange)="setSetting(item.id, configObj[item.category][item.id], item.category)"></ion-toggle>
            </ion-item>

    </ion-list>

    <ion-list>
        <button ion-item detail-push (click)="openCalibration()" class="settingsNodes">
            Start calibration
        </button>
<!--         <button ion-item detail-push class="settingsNodes">
            Update password
        </button> -->
    </ion-list>

    <ion-list>
        <button ion-item detail-push (click)="updateDride()" class="settingsNodes">
            <ion-icon name="thunderstorm" item-left></ion-icon>
            Firmware update
        </button>
    </ion-list>

    <ion-list>
        <button ion-item detail-push class="settingsNodes">
         	<ion-icon name="help-buoy" item-left></ion-icon>
            Contact Support
        </button>
        <button ion-item detail-push class="settingsNodes">
			<ion-icon name="bug" item-left></ion-icon>
            Report a Bug
        </button>
        <button ion-item detail-push class="settingsNodes">
        	<ion-icon name="information-circle" item-left></ion-icon>
            About this device
        </button>
    </ion-list>

    <ion-list *ngIf="isLoggedIn()" (click)="signOut()">
        <button ion-item detail-push (click)="logOut()" class="settingsNodes">
            <ion-icon name="log-out" item-left></ion-icon>
            Logout
        </button>
    </ion-list>


</ion-content>
