// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@font-face {
  font-family: "Comfortaa";
  src: url('../assets/fonts/Comfortaa-Light.ttf');
}

.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.toolbar-background{
    border: 0;
    background: rgba(248, 248, 248, 0);
    background-image: url("../assets/images/header.svg");
    background-size: 156%;
    background-position-x: center;
    height: 113px;
}
.toolbar-title{
	color: #fff;
    margin-top: -36px;
    font-size: 28px;
    font-weight: 300;
}

 .toolbar{
 	overflow: visible;
	min-height: 102px !important;
 }

scroll-content{
	margin-top: 43px !important;
    border-top: 0px !important;
}
.bar-button-default {
    color: #ffffff;
    margin-top: -41px;
}

ion-menu .toolbar-background{
	background-image: none;
	background: #9e4f4f;
}
.toggleMenu{
	background-color: transparent;
    font-size: 25px;
    margin-top: -29px;
    color: #fff;
}
.has-refresher > .scroll-content{
    border-top: 0;
}
.scroll-content{
    margin-top: 66px !important;
}
.padContent{
    margin-top: 24px;
}
ion-content{
    background-color: #f3f3f3 !important;
}
.whiteBg{
    background-color: #fff !important;
}
.blackBg{
    background-color: #333;
}
.text-center{
    text-align: center;
}
h1, h2, h3, h4{
    color: #808080;
}
.spacer{
    margin-bottom: 28px;
}
