<!--
  Generated template for the ManualCalibration page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-navbar>
        <ion-title>Calibration</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="padContent">
   

	<div class="box" *ngIf="!calibrationClips">
	   <p class="alert-warning">We couldn't find any videos above 90 mph, Please drive on a highway for at least 10 minutes and come back to this window.</p>

	   <br>
	   <br>
	   <br>
	   <div class="text-center">
	   		<label>OR</label>
	   </div>
	   <br>
	   <button (click)="manualCalibration()" ion-button full color="light">Manual Calibration</button>

	</div>

	
	<div class="box" *ngIf="calibrationClips">
	   
	   <div *ngIf="!calibrationObj ||  (calibrationObj.calibrationStatus!='watingForCalibration' &&  calibrationObj.calibrationStatus!='pendingUpload')">
		   <p class="alert-info">Great! We can now calibrate your Dride, This can take up to 24 hours.</p>

		   <button (click)="uploadClipsForCalibration()" ion-button full color="dark">Request Calibration</button>
	   </div>
	   <div *ngIf="calibrationObj && calibrationObj.calibrationStatus=='pendingUpload'">
		   <p class="alert-info"><b>Success!</b> Your device was successful calibrated!</p>

		   <button (click)="uploadClipsForCalibration()" ion-button full color="dark">Request Calibration</button>
	   </div>
		<div *ngIf="calibrationObj && calibrationObj.calibrationStatus=='watingForCalibration'">
		   <p class="alert-warning">This device is pending calibration, Come back in a few hours</p>
		</div>   
	   <br>
	   <br>
	   <br>
	   <div class="text-center">
	   		<label>OR</label>
	   </div>
	   <br>
	   <button (click)="manualCalibration()" ion-button full color="light">Manual Calibration</button>

	</div>







</ion-content>
