<!--
  Generated template for the UploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>
      <ion-icon name="cloud"></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <h1 class="text-center">Scroll to the <label>first frame</label> of the event</h1>
  <div class="box">
    <ion-card *ngIf="videoId">
      <div class="videoObject">
        <vg-player (onPlayerReady)="onPlayerReady($event)" class="player">
          <!--<vg-overlay-play></vg-overlay-play> -->
          <vg-buffering></vg-buffering>

          <video [vgMedia]="mediaScrub" #mediaScrub id="vv1" preload="true" webkit-playsinline playsinline poster="{{host}}/modules/video/thumb/{{videoId}}.jpg"
            class="videoPlayer" src="{{host}}/modules/video/clip/{{videoId}}.mp4" type="video/mp4">
          </video>
                <vg-controls style="display: none;">                </vg-controls>
        </vg-player>


        <ion-row class="rangePicker">
          <ion-range style="width:100%;" (ionChange)="trim();" min="0" max="{{totalTime}}" dualKnobs="true" pin="true" [(ngModel)]="structure" color="dark">
          </ion-range>
        </ion-row>



      </div>

    </ion-card>
  </div>
  <div class="box" *ngIf="downloadStatus">

    <ion-item no-lines>
      <ion-label color="primary" stacked>License Plate</ion-label>
      <ion-input autofocus="false" tabindex="-1" type="text" placeholder="AX5S74Y" [(ngModel)]="licensePlates"></ion-input>
    </ion-item>
    <ion-item no-lines class="mtb1">
      <ion-label color="primary" stacked>What happened?</ion-label>
      <ion-textarea autofocus="false" tabindex="-1" type="text" placeholder="" [(ngModel)]="description"></ion-textarea>
    </ion-item>
    <!-- ADD MAP -->


  </div>
  <div class="sp1" padding *ngIf="!downloadStatus">
      <button ion-button full color="dark" (click)="cropAndUpload()">
        Upload
      </button>
  </div>
    <br><br><br><br><br><br> <br><br><br><br><br><br>


</ion-content>

<ion-footer class="loaderStatus" *ngIf="downloadStatus" >

    <span class="lbl">{{downloadStatus}}..</span>
            <p class="col-xs-2 progressPracent">{{progress}}%</p>

            <div class="col-xs-10 padlcart">
              <div class="progressCar" [style.width]="progress  +'%'">
                <span class="icon-toyCar-1 pull-right"></span>
              </div>
            </div>


  </ion-footer>