login {


	.popUpHeader{
		background-color: #333;
		height: 52px;
		text-align: center;
	}	
	.roundBottom{
	    height: 154px;
	    background-color: #333;
	    margin-top: -113px;
	    border-radius: 250%;
	    width: 171%;
	    margin-left: -34%;
	}
	.spacer{
		margin-bottom: 28px;
	}
	.loginBox{
		background-color: #fff;
		border-top: 1px solid #c8c7cc;
		border-bottom: 1px solid #c8c7cc;
	}
	.icon-dride-cloud{
	    font-size: 28px;
	    position: relative;
	    top: 14px;
	    color: #F06060;
	    margin-left: 20%;
	}
	.closePopup{
	    background-color: #333;
	    color: #808080;
	    font-size: 25px;
	    position: relative;
	    right: 5px;
	    top: -7px;
	    float: right;
	}
	.sideIcon{
		float: left;
	}
	.socialButtons{
		width: 90%;
    	margin: auto auto;
	    margin-top: 16px;
	    margin-bottom: 20px;
    	background-color: #ECECEC;
    	color: #808080;
    	font-weight: 300;
	}
	.sideIcon{
	    color: #fff;
	    height: 45px;
	    width: 45px;
	    position: absolute;
	    padding-top: 14px;
	    left: 0;
	}
	.socialButtons .icon-facebook{
	    background-color: #3B57A3;
	}
	.socialButtons .icon-google{
		background-color: #387AF2;
	}
	.iconInput{
		width: 90%;
    	margin: auto auto;
    	margin-bottom: 71px;

	}
	.iconInput ion-input{
		width: 90%;
    	float: right;
    	border-top-right-radius: 4px;
    	border-bottom-right-radius: 4px;
	    height: 45px;
	    padding-left: 18px;
	    font-size: 14px;
	    padding-top: 3px;
	}
	.iconInput ion-input, .iconInput .sideIcon{
		background-color: #ECECEC;
	}

	.iconInput .sideIcon{
	    left: inherit;
	    border-right: 1px solid #fff;
	    border-bottom-left-radius: 4px;
	    border-top-left-radius: 4px;
	    padding-left: 16px;
	    color: #666666;
	    font-size: 19px;
	}

	.loginBtn{
	    width: 90%;
	    margin: auto auto;
	    margin-top: 135px;
	    margin-bottom: 20px;
	}
	.forgetPass{
		padding-bottom: 25px;
		width: 90%;
		margin: auto auto;
	}


	.registerBox{
		background-color: #fff;
		width: 100%;
		height: 55px;
		text-align: center;
		font-size: 18px;
		padding-top: 15px;
		border-top: 1px solid #c8c7cc;
	}


	.icon-toyCar-1{
		position: relative;
	    top: 4px;
	    left: 13px;
	    color: #f06060;

	}
	.animatedCar{
		transition: 10s;
    	left: 90%;
	}


}
