<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle class="toggleMenu">
            <ion-icon name="md-more" class="pull-left"></ion-icon>
        </button>
    <ion-title><span class="icon-cloud"></span></ion-title>
  </ion-navbar>
</ion-header>


<ion-content>


  <div class="container">

    <div class="mx-auto">
		<h2 class="bVideosT" *ngIf="hpClips.items.length">My videos in the Cloud</h2>
		<h2 class="bVideosT" *ngIf="!hpClips.items.length"><br><br><br>You dont have any videos yet..</h2>
    </div>
    <div *ngIf="hpClips && hpClips.items">
      <ion-card class="whiteBg p-0 animBox mx-auto cClips" *ngFor="let currentVideo of hpClips.items;  index as key">
        <div *ngIf="currentVideo" class="box mainVid">
          <div class="videogular-container" *ngIf="currentVideo">
          <div class="videoHead">
            <p class="dateLabel" float-left>{{currentVideo.dateUploaded | date:'medium'}}</p>	 
            <ion-icon (click)="presentActionSheet(currentVideo.videoId, key)" ios="md-more" md="md-more" float-right></ion-icon>
          </div>
            <vg-player  class="player">
              <video [vgMedia]="media" #media [id]="'v' + key" preload="auto" webkit-playsinline playsinline poster="{{currentVideo.thumbs.src}}"
                class="videoPlayer">
                <source src="{{currentVideo.clips.src}}" type="video/mp4">
              </video>
              <vg-controls>
                <vg-play-pause></vg-play-pause>

                <vg-scrub-bar [vgFor]="current">
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>

                 <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>

              </vg-controls>

            </vg-player>


          </div>


        </div>
        <div class="box">
          <div class="actionBar innerPad">
            <div class="views pull-left">
              <label>{{currentVideo.views | number:0}} Views </label> &nbsp;&nbsp;&nbsp;
              <label *ngIf="currentVideo && currentVideo.cmntsCount" (click)="commentFoucs('replyBox'+key)">{{currentVideo.cmntsCount | number:0}} Comments</label>
            </div>
            <ul class="pull-right actions">
              <li class="shareIcon" (click)="shareLink(currentVideo.videoId)">
                 <span class="icon-share-outline" ></span>
                 <label >Share</label>
              </li>
            </ul>
            <div class="clear"></div>
          </div>


          <div class="cmntsBox innerPad">
            <div *ngFor="let node of currentVideo.comments | keys" class="listItem">
              <div class="bubble">
                <div class="auther pull-left pl">
                  <img src="{{node.pic}}" alt="{{node.auther}}" />
                </div>
                <div class="ago">{{node.timestamp | amTimeAgo}}</div>
                <a class="bold">@{{node.auther}}</a>
                <div class="bdy" ng-bind-html2="node.body | markdown">{{node.body}}</div>

              </div>
              <!-- <div class="connectorLine" *ngIf="conversationPreviusIsMine[key]"></div> -->
            </div>
            <p *ngIf="currentVideo && !hasComments(currentVideo.comments)" class="firstToCmnt">Be the first to comment</p>
            <p *ngIf="hasMoreToLoad(currentVideo)" class="moreCmnts" (click)="loadMoreComments(currentVideo.videoId, key)">Load More Comments</p>


          </div>
          <div class="postBox">
            <div class="wrapReplyBox mt-0">
              <textarea id="replyBox{{key}}" ctrl-enter="sendComment(currentVideo.videoId, replyBox[key], key)" class="form-control replyBox mt-0"
                fz-elastic [(ngModel)]="replyBox[key]" type="text" name="reply" placeholder="What's on your mind?"></textarea>
              <button class="btn btn-dride-black sendBtn pull-right" (click)="sendComment(currentVideo.videoId, replyBox[key], key)">Send</button>
            </div>
          </div>


          <div class="clear"></div>


        </div>


      </ion-card>
      
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
      </ion-infinite-scroll>


    </div>


  </div>


</ion-content>